.App {
  text-align: center;
 margin: auto;
  width:auto;
  height :auto;
  background-color: rgb(252, 252, 247);
 
}

.form {
 
  align-items: center;
  border : grey 5px solid;
 
  color :brown;
  

}

#submitButton{
  background-color: rgb(129, 61, 67);
  border: none;
  color: whitesmoke;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8%;
  margin :10px;
}

